* {
    margin: 0;
    padding: 0;
}

body {
    background: #F6F8FA;
}

.first {
    background-color: #fff;
    border-bottom: 2px solid #F6F8FA;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.center {
    max-width: 100%;
    margin: 0 auto;
}

.photo {
    padding: 35px 0px 0px 20px;
}

.X {
    display: flex;
    justify-content: start;
}

.wenzi-1-1 h1 {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 400;
    padding: 35px 0px 0px 13px;
}

.leftphoto {
    width: 65px;
    height: 39px;
    position: relative;
    left: 23px;
}

.png {
    position: relative;
    bottom: 30px;
    left: 15px;
}

.sub {
    height: 40px;
    margin: 30px 20px 25px 20px;
}

.sub input {
    width: 100%;
    height: 40px;
    color: #999;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    padding-left: 41px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.second {
    padding-bottom: 15px;
    background: #F6F8FA;
}

.neirong {
    display: flex;
    justify-content: space-between;
}

.pmtb {
    padding-top: 35px;
    margin-bottom: 16px;
}

.wenzi {
    width: 65px;
    height: 39px;
    position: relative;
    left: 23px;
}

.copy4 img {
    width: 60px;
    height: 40px;
}

.usa {
    position: relative;
    left: 15px;
    bottom: 39px;
}

.wenzi1 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.right h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.right {
    height: 30px;
    padding-right: 20px;
}

.center-wenzi {
    position: relative;
    right: 55px;
    height: 34px;
    top: 7px;
}

.center-wenzi h1 {
    font-size: 14px;
    color: #1B1B1B;
    font-weight: 400;
    padding-top: 5px;
}

.bitm {
    position: relative;
    left: 17px;
    bottom: 39px;
}

.dui {
    padding-top: 14px;
}

.pt1 {
    padding: 15px 0px 17px 0px;
}

.pt2 {
    padding: 18px 0px 18px 0px;
}

.center-wenzi-1 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.ptb1 {
    padding: 17px 0px 20px 0px;
}

.center-wenzi-2 {
    position: relative;
    right: 11px;
}

.center-wenzi-2 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.center-wenzi-3 {
    position: relative;
    right: 5px;
}

.center-wenzi-3 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.center-wenzi-4 {
    position: relative;
    right: 20px;
}

.center-wenzi-4 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.center-wenzi-5 {
    position: relative;
    right: 20px;
}

.center-wenzi-5 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.center-wenzi-6 {
    position: relative;
    right: 15px
}

.center-wenzi-6 h1 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.xian {
    opacity: 0.1;
    border: 1px dashed #000;
}

.left-photo {
    width: 65px;
    height: 39px;
    position: relative;
    left: 23px;
}

.can {
    position: relative;
    left: 17px;
    bottom: 39px;
}

.wenzi1 {
    position: relative;
    left: 10px;
}