        * {
            margin: 0;
            padding: 0;
        }
        
        html {
            height: 5190px;
        }
        
        body {
            height: 5190px;
        }
        
        .body {
            margin: 0 auto;
        }
        
        .first {
            height: 805px;
            background-image: url(./图片/headerimage.png);
        }
        
        .clear {
            clear: both;
        }
        
        .jz {
            margin: 0 auto;
            max-width: 1210px;
        }
        
        .display {
            display: flex;
            justify-content: space-between;
        }
        
        .p-t {
            padding-top: 45px;
        }
        
        .tupian2 {
            position: relative;
            left: 35px;
        }
        
        .tupian2 img {
            width: 155px;
        }
        
        .flex h1 {
            color: #fff;
            font-size: 11px;
            font-weight: 400;
        }
        
        .another {
            padding-top: 200px;
        }
        
        .another-1 {
            float: left;
            left: 390px;
            bottom: 145px;
            max-width: 87%;
            position: relative;
        }
        
        .first-1 {
            float: left;
            max-width: 60%;
            position: relative;
            left: 35px;
        }
        
        .first-1 h1 {
            font-size: 58px;
            color: #FFFFFF;
            letter-spacing: 4.2px;
        }
        
        .xian {
            float: left;
            right: 115px;
            bottom: 50px;
            position: relative;
        }
        
        .xian img {
            width: 160px;
        }
        
        .another-1 h1 {
            font-size: 58px;
            color: #FFFFFF;
            letter-spacing: 4.2px;
        }
        
        ul {
            list-style: none;
        }
        
        .play {
            display: flex;
            justify-content: flex-end;
        }
        
        .play li {
            font-size: 12px;
            color: #9071EA;
        }
        
        .button {
            position: relative;
            top: 345px;
        }
        
        .but {
            width: 230px;
            height: 61px;
            right: 270px;
            position: relative;
            border-radius: 100px;
            background: #5C3CAF;
            border: 1px solid #5C3CAF;
            box-shadow: 0 16px 24px 0 rgb(10 14 52 / 50%);
        }
        
        .but p {
            right: 30px;
            width: 140px;
            float: right;
            font-size: 8px;
            text-align: left;
            color: #FFFFFF;
            position: relative;
        }
        
        .but1 {
            top: 10px;
            width: 230px;
            height: 61px;
            right: 240px;
            position: relative;
            border-radius: 100px;
            background: #5C3CAF;
            border: 1px solid #5C3CAF;
            box-shadow: 0 16px 24px 0 rgb(10 14 52 / 50%);
        }
        
        .but1 p {
            top: 5px;
            right: 20px;
            width: 110px;
            float: right;
            font-size: 8px;
            color: #FFFFFF;
            text-align: left;
            position: relative;
        }
        
        .but1 img {
            position: relative;
            left: 3px;
            width: 32px;
            top: 4px;
        }
        
        .second {
            height: 330px;
            padding-top: 30px;
        }
        
        .picture {
            float: left;
            max-width: 43%;
            padding-left: 30px;
        }
        
        .another1 {
            float: right;
            position: relative;
            left: 65px;
        }
        
        .width {
            padding-top: 55px;
        }
        
        .wenzi1 h1 {
            font-size: 65px;
            color: #E7E7E7;
            letter-spacing: 0;
            font-weight: 400;
        }
        
        .wenzi1 h2 {
            width: 20px;
            font-size: 18px;
            color: #000000;
            letter-spacing: 1.5px;
        }
        
        .wenzi1 span {
            left: 28px;
            bottom: 32px;
            font-size: 28px;
            color: #C2C2C2;
            position: relative;
        }
        
        .wenzi1 p {
            bottom: 20px;
            font-size: 15px;
            color: #000000;
            position: relative;
        }
        
        .botton {
            border-bottom: 4px solid #603EBE;
        }
        
        .third {
            height: 300px;
            background-color: #fafafa;
        }
        
        .neirong2 {
            left: 165px;
            float: right;
            max-width: 49%;
            padding-top: 65px;
            position: relative;
        }
        
        .neirong2 h1 {
            float: left;
            width: 20px;
            font-size: 18px;
            color: #000000;
        }
        
        .neirong2 span {
            left: 10px;
            font-size: 23px;
            color: #C2C2C2;
            position: relative
        }
        
        .neirong2 p {
            width: 595px;
            font-size: 17px;
            color: #000000;
        }
        
        .fourth {
            height: 300px;
            background: #5E3DB3;
        }
        
        .neirong3 {
            left: 135px;
            float: right;
            max-width: 49%;
            padding-top: 65px;
            position: relative;
        }
        
        .botton1 {
            width: 20px;
            border-bottom: 4px solid#fff;
        }
        
        .neirong3 h1 {
            font-size: 18px;
            color: #000000;
            font-weight: 400;
        }
        
        .neirong3 span {
            left: 35px;
            bottom: 30px;
            font-size: 24px;
            color: #C2C2C2;
            position: relative;
        }
        
        .neirong3 p {
            width: 555px;
            font-size: 17px;
            color: #ffffff;
        }
        
        .five {
            height: 300px;
        }
        
        .left {
            max-width: 50%;
        }
        
        .wenzi3 {
            padding-top: 25px;
            padding-left: 90px;
            padding-left: 125px;
        }
        
        .wenzi3 h1 {
            font-size: 65px;
            color: #E7E7E7;
        }
        
        .wenzi3 h2 {
            font-size: 18px;
            color: #000000;
        }
        
        .wenzi3 span {
            font-size: 26px;
            color: #C2C2C2;
            position: relative;
            left: 30px;
            bottom: 30px;
        }
        
        .wenzi3 p {
            width: 465px;
            position: relative;
            bottom: 20px;
        }
        
        .conn {
            padding-top: 50px;
        }
        
        .six {
            height: 245px;
            background: #F5F4F9;
        }
        
        .botton3 {
            width: 20px;
            border-bottom: 4px solid #603EBE;
        }
        
        .seven {
            height: 300px;
            background-color: #090C35;
        }
        
        .wenzi4 {
            padding-left: 95px;
            padding-left: 140px;
        }
        
        .wenzi4 h2 {
            font-size: 18px;
            color: #8F6BE8;
            letter-spacing: 1.5px;
        }
        
        .wenzi4 span {
            font-size: 29px;
            color: #C2C2C2;
            letter-spacing: 1.5px;
            position: relative;
            left: 30px;
            bottom: 31px;
        }
        
        .wenzi4 p {
            font-size: 15px;
            color: #FFFFFF;
            letter-spacing: 0.65px;
        }
        
        .botton4 {
            width: 20px;
            border-bottom: 4px solid #fff;
        }
        
        .two {
            max-width: 61%;
            float: right;
            position: relative;
            bottom: 861px;
            width: 815px;
        }
        
        .tang {
            position: relative;
            left: 100px;
            bottom: 305px;
        }
        
        .tang1 {
            position: relative;
            left: 310px;
            bottom: 693px;
        }
        
        .tang2 {
            position: relative;
            left: 109px;
            bottom: 693px;
        }
        
        .eight {
            height: 555px;
        }
        
        .be {
            float: left;
            position: relative;
            width: 950px;
            bottom: 986px;
        }
        
        .be img {
            width: 950px;
        }
        
        .zhengfangxing img {
            width: 172px;
            height: 175px;
        }
        
        .zhengfangxing {
            width: 172px;
            height: 175px;
            float: left;
            position: relative;
            bottom: 795px;
            right: 79px;
            bottom: 986px;
            width: 730px;
        }
        
        .be img {
            width: 730px;
        }
        
        .zhengfangxing img {
            width: 130px;
            height: 130px;
        }
        
        .zhengfangxing {
            width: 130px;
            height: 130px;
            float: left;
            position: relative;
            bottom: 795px;
            right: 70px;
        }
        
        .copy {
            position: relative;
            float: left;
            bottom: 712px;
            right: 178px;
        }
        
        .number {
            width: 15px;
            float: left;
            color: #fff;
            position: relative;
            bottom: 747px;
            right: 198px;
            font-size: 15px;
            bottom: 740px;
            right: 145px;
        }
        
        .number {
            width: 10px;
            float: left;
            color: #fff;
            position: relative;
            bottom: 755px;
            right: 160px;
            font-size: 10px;
        }
        
        .number2 {
            width: 10px;
            float: left;
            color: #fff;
            position: relative;
            bottom: 706px;
            right: 210px;
            font-size: 16px;
            bottom: 730px;
            right: 169px;
            font-size: 10px;
        }
        
        .right {
            width: 450px;
            float: right;
            position: relative;
            bottom: 835px;
            right: 117px;
            height: 380px;
            right: 165px;
            height: 230px;
        }
        
        .right h1 {
            font-size: 60px;
            color: #E7E7E7;
            letter-spacing: 0;
            position: relative;
            top: 50px;
        }
        
        .right p {
            font-size: 18px;
            color: #000000;
            letter-spacing: 1.12px;
            width: 290px;
            position: relative;
            top: 125px;
            float: left;
        }
        
        .nine {
            height: 555px;
        }
        
        .wenzi5 {
            float: left;
            max-width: 50%;
            position: relative;
            bottom: 495px;
            right: 760px;
        }
        
        .wenzi5 h1 {
            font-size: 78px;
            color: #E7E7E7;
            letter-spacing: 3px;
        }
        
        .wenzi5 p {
            font-size: 22px;
            color: #000000;
            letter-spacing: 1.12px;
            width: 395px;
        }
        
        .zhengfangxing1 img {
            width: 172px;
            height: 175px;
        }
        
        .zhengfangxing1 {
            width: 172px;
            height: 175px;
            float: left;
            position: relative;
            bottom: 840px;
            left: 870px;
            right: 580px;
        }
        
        .wenzi5 h1 {
            font-size: 55px;
            color: #E7E7E7;
            letter-spacing: 4px;
        }
        
        .wenzi5 p {
            font-size: 15px;
            color: #000000;
            letter-spacing: 1.12px;
            width: 295px;
        }
        
        .zhengfangxing1 img {
            width: 130px;
            height: 130px;
        }
        
        .zhengfangxing1 {
            width: 130px;
            height: 130px;
            float: left;
            position: relative;
            bottom: 840px;
            left: 655px;
        }
        
        .number1 {
            width: 30px;
            float: left;
            color: #fff;
            position: relative;
            bottom: 780px;
            left: 770px;
            font-size: 14px;
            bottom: 800px;
            left: 580px;
            font-size: 10px;
        }
        
        .copy1 {
            position: relative;
            float: left;
            bottom: 745px;
            left: 745px;
            bottom: 780px;
            left: 550px;
        }
        
        .be1 {
            float: right;
            position: relative;
            bottom: 835px;
            width: 715px;
        }
        
        .be1 img {
            width: 835px;
            bottom: 991px;
            width: 700px;
        }
        
        .be1 img {
            width: 700px;
        }
        
        .be2 {
            float: left;
            position: relative;
            bottom: 535px;
            width: 950px;
        }
        
        .be2 img {
            width: 950px;
        }
        
        .zhengfangxing3 {
            width: 172px;
            height: 175px;
            float: left;
            position: relative;
            bottom: 650px;
            right: 80px;
        }
        
        .zhengfangxing3 img {
            width: 172px;
            height: 175px;
            bottom: 995px;
            width: 730px;
        }
        
        .be2 img {
            width: 730px;
        }
        
        .zhengfangxing3 {
            width: 120px;
            height: 120px;
            float: left;
            position: relative;
            bottom: 845px;
            right: 60px;
        }
        
        .zhengfangxing3 img {
            width: 120px;
            height: 120px;
        }
        
        .copy2 {
            position: relative;
            float: left;
            bottom: 552px;
            right: 175px;
            bottom: 785px;
            right: 135px;
        }
        
        .number3 {
            float: left;
            color: #fff;
            position: relative;
            bottom: 582px;
            right: 195px;
            bottom: 800px;
            right: 150px;
            font-size: 10px;
        }
        
        .number4 {
            width: 10px;
            float: left;
            color: #fff;
            position: relative;
            bottom: 544px;
            right: 205px;
            bottom: 775px;
            right: 162px;
        }
        
        .another-3 {
            max-width: 50%;
            float: right;
            position: relative;
            bottom: 626px;
            right: 83px;
        }
        
        .another-3 h1 {
            font-size: 70px;
            color: #E7E7E7;
            letter-spacing: 2px;
            right: 135px;
        }
        
        .another-3 h1 {
            font-size: 60px;
            color: #E7E7E7;
            letter-spacing: 0;
        }
        
        .another-3 p {
            width: 480px;
            font-size: 18px;
            color: #000000;
            letter-spacing: 1.12px;
            position: relative;
            top: 70px;
        }
        
        .finally {
            top: 965px;
            top: 500px;
            height: 970px;
            position: relative;
            background-image: url(./图片/footerBG.png);
        }
        
        .icon1 {
            position: relative;
            right: 458px;
            width: 148px;
            height: 144px;
            top: 190px;
        }
        
        .wenzi6 H1 {
            font-size: 78px;
            color: #FFFFFF;
            letter-spacing: 5.2px;
            position: relative;
            left: 441px;
            width: 708px;
            float: left;
            bottom: 1290px;
        }
        
        .wenzi6 p {
            font-size: 34px;
            color: #A496CA;
            letter-spacing: 0px;
            position: relative;
            bottom: 1310px;
            left: 438px;
            width: 759px;
            right: 828px;
            width: 99px;
            height: 103px;
            top: 111px;
        }
        
        .wenzi6 H1 {
            font-size: 58px;
            color: #FFFFFF;
            letter-spacing: 5.2px;
            position: relative;
            left: 400px;
            width: 708px;
            float: left;
            bottom: 1300px;
        }
        
        .wenzi6 p {
            font-size: 25px;
            color: #A496CA;
            letter-spacing: 0;
            position: relative;
            bottom: 1306px;
            left: 395px;
            width: 568px;
            float: left;
        }
        
        .picture4 {
            position: relative;
            bottom: 1235px;
            bottom: 235px;
        }
        
        .path {
            position: relative;
            left: 20px;
            bottom: 55px;
            left: 370px;
            bottom: 20px;
        }
        
        .path-c {
            position: relative;
            right: 432px;
            top: 195px;
            left: 300px;
            bottom: 127px;
        }
        
        .button11 {
            position: relative;
            bottom: 1275px;
            bottom: 215px;
        }
        
        .but33 {
            width: 230px;
            height: 61px;
            left: 380px;
            position: relative;
            border-radius: 100px;
            background: #5C3CAF;
            border: 1px solid #5C3CAF;
            box-shadow: 0 16px 24px 0 rgb(10 14 52 / 50%);
        }
        
        .but33 p {
            top: 5px;
            right: 17px;
            width: 140px;
            float: right;
            font-size: 8px;
            text-align: left;
            color: #FFFFFF;
            position: relative;
        }
        
        .but22 {
            width: 230px;
            height: 61px;
            left: 415px;
            position: relative;
            border-radius: 100px;
            background: #5C3CAF;
            border: 1px solid #5C3CAF;
            box-shadow: 0 16px 24px 0 rgb(10 14 52 / 50%);
        }
        
        .but22 p {
            top: 5px;
            right: 25px;
            width: 110px;
            float: right;
            font-size: 8px;
            color: #FFFFFF;
            text-align: left;
            position: relative;
        }
        
        .but22 img {
            width: 36px;
            height: 39px;
        }
        
        .img {
            right: 183px;
            display: flex;
            width: 1770px;
            bottom: 742px;
            right: 77px;
            display: flex;
            width: 1392px;
            bottom: 730px;
            position: relative;
            justify-content: space-between;
        }
        
        .img img {
            width: 170px;
            height: 32px;
        }
        
        .wenzi6 h5 {
            font-size: 15px;
            color: #FFFFFF;
            letter-spacing: 1px;
            font-weight: 300;
        }
        
        .displat-2 {
            display: flex;
            justify-content: start;
            position: relative;
            bottom: 760px;
            width: 120px;
            left: 659px;
            left: 562px;
            float: left;
        }
        
        .displat-3 {
            height: 0;
        }
        
        .facebook {
            padding-right: 25px;
        }
        
        .twitter {
            padding-right: 25px;
        }
        
        .rect {
            width: 30px;
            float: right;
            position: relative;
            bottom: 356px;
            right: 50px;
            bottom: 520px;
            right: 104px;
        }
        
        .rect img {
            width: 20px;
            height: 5px;
        }
        
        .rect1 {
            width: 30px;
            float: right;
            position: relative;
            top: 60px;
            right: 435px;
        }
        
        .rect1 img {
            width: 20px;
            height: 5px;
        }
        
        .rect2 {
            width: 30px;
            float: right;
            position: relative;
            bottom: 483px;
            right: 88px;
            bottom: 505px;
            right: 135px;
        }
        
        .rect2 img {
            width: 20px;
            height: 5px;
        }
        
        .rectan {
            width: 20px;
            float: left;
            position: relative;
            left: 141px;
            top: 20px;
        }
        
        .rectan1 {
            width: 20px;
            float: left;
            position: relative;
            left: 140px;
            top: 30px;
        }
        
        .center {
            height: 970px;
        }