:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
}

body {
    margin: 0;
}

.clear {
    clear: both;
}

.first {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.firs {
    height: 90px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 25%);
    background: var(--bg-color);
    transition: all 0.5s;
    background-color: #fff;
}

.first-1 {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 93px;
}

.first-2 {
    font-size: 34px;
    font-weight: 400;
    padding-top: 25px;
}

.first-3 {
    color: #8E43E7;
    font-weight: 400;
    position: relative;
    bottom: 9px;
    font-size: 34px;
}

.fa {
    text-decoration: none;
    font-size: inherit;
}

.first12 {
    text-decoration: auto;
}

.first4 {
    display: flex;
    justify-content: flex-end;
    height: 24px;
}

.first1 {
    list-style: none;
    text-decoration: none;
    margin-top: -45px;
}

.nav-link {
    text-decoration: auto;
    color: var(--nav-color);
    border-bottom: 1px solid #8E43E7;
}

.nav-lin {
    text-decoration: auto;
    color: #8E43E7;
    border-bottom: 1px solid #8E43E7;
}

.first5 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 19px;
}

.first6 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

.first7 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

.nav-item2 {
    font-size: 16px;
    margin-right: 30px;
}

.nav-item1 {
    font-size: 16px;
    margin-right: 30px;
}

.nav-item2 a {
    color: #8E43E7;
}

a {
    color: #8A8FA3;
    transition: all .3s;
}

a:hover {
    color: #8E43E7;
}

a {
    text-decoration: none;
}

.wwws {
    position: relative;
    background-color: #754ef9;
    height: 45px;
    width: 3px;
    margin-top: 0px;
    transition: all .3s;
    left: 50%;
    top: -50px;
}

.wwws:hover {
    margin-bottom: 40px;
    height: 10px;
}

.wwws1 {
    position: relative;
    background-color: #754ef9;
    height: 45px;
    width: 3px;
    margin-top: 0px;
    transition: all .3s;
    left: 50%;
    display: none;
    top: -50px;
}

.wwws1:hover {
    margin-bottom: 40px;
    height: 10px;
    display: initial;
}

.nav-item2 a {
    position: relative;
    bottom: 45px;
}

.content {
    height: 730px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
}

.img2 {
    position: relative;
    left: 320px;
    bottom: 155px;
    width: 91px;
    height: 87px;
}

.img3 {
    width: 173px;
    height: 140px;
    position: relative;
    left: 600px;
    bottom: 215px;
}

.img4 {
    width: 91px;
    float: right;
    position: relative;
    bottom: 306px;
    right: 70px;
}

.img5 {
    width: 173px;
    height: 140px;
    position: relative;
    left: 110px;
}

.img6 {
    width: 173px;
    height: 140px;
    position: relative;
    left: 110px;
    top: 100px;
}

.cont {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 360px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sub {
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin: 0;
}

.title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin: 0;
    font-weight: 600;
    color: #32333c;
}

.left p {
    padding-bottom: 40px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
}

.main {
    border: 1px solid #754ef9;
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    box-shadow: 0px 5px 8px 0px rgb(118 78 249 / 55%);
    background-color: #754ef9;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
}

.main:hover {
    background-color: #fff;
}

.co-2 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 8.333333%;
    position: relative;
    left: 600px;
    bottom: 444px;
}

.pic {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
}

.pic::after {
    position: absolute;
    content: '';
    width: 192%;
    height: 22px;
    background-color: #754ef9;
    left: 0;
    bottom: 55px;
    z-index: 11;
}

.none::before {
    position: absolute;
    content: '';
    height: 68%;
    border: 3px solid #754ef9;
    border-bottom: 0;
    top: 23%;
    right: -210px;
}

.juzhong {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.mo-1 {
    flex: 0 0 100%;
    max-width: 100%;
}

.icon-1 {
    display: flex;
    position: relative;
    bottom: 25px;
    right: 35px;
}

.icon {
    position: relative;
    left: 11px;
    top: 3px;
}

.icon-2 {
    FONT-WEIGHT: 100;
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 13px;
}