body{
    bottom: 0px;
    background: #fff;

}
html{
    overflow: hidden;
    padding: 5px;
}
img{
    color: #81848f;
}
.navebar{
    border: 1px solid  #fff;
    background: #fff;
    height: 90px;
}
.right{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #515769;
}
.header .nav-item-hover:after{
    position: absolute;
    top: 45px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #608b90;
}
.j{
    position: absolute;
    width: 9px;
    height: 2px;
    background: #17bed2;
    right: 40px;
    top: 8px;
}
.hover{
    text-transform:uppercase; 
    font-size: 13px;
    font-weight: 600;
    color: #515769;
    line-height: 55px;
    padding: 20px;
    position: relative;
    right: 25px;
    top: 2px;
}
.item{
    position: relative;
    
    bottom: 30px;
}
.navebar.hover{
    position: absolute;
    top: 45px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #17bed2;
}
.q{
    position: absolute;
    top: 47px;
    left: 655px;
    width: 9px;
    height: 2px;
    background: #17bed2;
}
.w{
    position: absolute;
    top: 47px;
    left: 825px;
    width: 9px;
    height: 2px;
    background: #17bed2;
}
.e{
    position: relative;
    top: 47px;
    right: 10px;
    width: 9px;
    height: 2px;
    background: #17bed2;
}
.r{
    position: relative;
    top: 46px;
    width: 9px;
    height: 2px;
    background: #17bed2;
    right: 10px;
}
.t{
    position: relative;
    top: 47px;
    width: 9px;
    height: 2px;
    background: #17bed2;
    right: 10px;
}
.container{
    position: relative;
    top: 35px;
}
.con{
    position: relative;
    bottom: 35px;
}
.another{
    background: #fafafa;
    padding-top: 220px;
    width: 50%;
}
.b{
    font-size: 32px;
    position: relative;
    bottom: 144px;
    left: 15px;
}
.text{
    font-weight: 400;
    color: #a6a7aa;
    position: relative;
    bottom: 15px;
}
.title{
    font-weight: 700;
    color: #515769;
    margin: auto;
}
.op{
    background: #fafafa;
    padding-top: 220px;
    width: 50%;
}
.social-icons{
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #515769;
    background: #fff;
    border-radius: 50%;
    padding: 11px;
}
.r{
    display: flex;
    justify-content: flex-start;
}
