* {
    margin: 0;
}

.body {
    overflow-x: hidden;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.first {
    height: 820px;
    background-image: url(./图片/Rectangle7.png);
}

.jz {
    margin: 0 auto;
    max-width: 1200px;
}

.neirong {
    padding-top: 50px;
}

.display {
    display: flex;
    justify-content: space-between;
}

.another {
    padding-top: 20px;
}

ul {
    padding: 0;
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    padding-right: 60px;
}

.xie {
    position: absolute;
    top: 1px;
    height: 815px;
}

.xie1 {
    position: absolute;
    top: 2px;
    left: 362px;
    overflow: hidden;
    width: 1060px;
    height: 815px;
}

.first-1 {
    padding-top: 7rem;
}

.nr-1 {
    display: flex;
}

.m-1 {
    width: 665px;
    float: left;
    padding-left: 20px;
}

.m-1 h1 {
    font-size: 44px;
    color: #202020;
    font-weight: 400;
}

.m-1 P {
    width: 476px;
    font-size: 22px;
    color: #2A2A2A;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.anniu {
    width: 232px;
    text-align: center;
    color: #fff;
    height: 65px;
    border-radius: 45px;
    background: #F60000;
    border-radius: 100px;
    box-shadow: -2px 4px 16px 0 rgb(206 76 1 / 13%);
}

.anniu a {
    text-align: center;
    position: relative;
    top: 17px;
    color: #fff;
    font-size: 20px;
}

.another-1 {
    position: relative;
    top: 140px;
}

.second {
    height: 715px;
    padding-top: 9rem;
}

.blue {
    right: 28px;
    width: 1490px;
    height: 650px;
    bottom: 400px;
    position: relative;
    transform: rotate( 4deg);
    background-color: #034ffa;
}

.green {
    right: 33px;
    width: 1500px;
    height: 380px;
    position: relative;
    transform: rotate( 353deg);
    background-color: #59CCE5;
}

.picture1 {
    position: relative;
    bottom: 999px;
    left: 90px;
    width: 1243px;
    float: left;
    height: 600px;
}

.group {
    position: relative;
    left: 92px;
    float: right;
    bottom: 110px;
}

.neirong-2 h2 {
    font-size: 48px;
    color: #1E77E1;
    text-align: center;
    font-weight: 400;
    position: relative;
    right: 12px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 2px 40px 0 rgba(30, 119, 225, 0.18);
    text-align: center;
    font-size: 18px;
}

.ron p {
    font-family: Helvetica;
    font-size: 18px;
    color: #959595;
    letter-spacing: 0;
    line-height: 28px;
}

.ron h2 {
    font-family: Helvetica;
    font-size: 22px;
    color: #009EF6;
    letter-spacing: 0;
    text-align: center;
}