* {
    margin: 0;
}

.clear {
    clear: both;
}

html {
    height: 3625px;
}

.body {
    height: 3625px;
    margin: 0 auto;
}

.first {
    width: 1750px;
    height: 125px;
    background-color: #B60038;
}

.center {
    margin: 0 auto;
    max-width: 1600px;
}

.center1 {
    margin: 0 auto;
    max-width: 1660px;
}

.center2 {
    margin: 0 auto;
    max-width: 1480px;
}

.display {
    display: flex;
    justify-content: space-between;
}

.left {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.left1 {
    width: 100px;
    height: 95px;
    border: 2px solid #fff;
}

.left1 h1 {
    padding: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.right {
    display: flex;
    justify-content: space-between;
}

.right2 {
    width: 140px;
    height: 125px;
    background-image: url(./图片/Menu_select.png);
}

.right2 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-2 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right1 {
    left: 25px;
    position: relative;
}

.right-2 {
    left: 50px;
    width: 55px;
    height: 125px;
    position: relative;
}

.right-3 {
    left: 110px;
    width: 140px;
    height: 125px;
    position: relative;
}

.right-4 {
    left: 140px;
    width: 80px;
    height: 125px;
    position: relative;
}

.right-5 {
    left: 175px;
    width: 120px;
    height: 125px;
    position: relative;
}

.right-6 {
    left: 180px;
    width: 120px;
    height: 125px;
    position: relative;
}

.right-3 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
    position: relative;
    right: 20px;
}

.num {
    width: 25px;
    float: right;
    bottom: 24px;
    position: relative;
}

.num h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    right: 5px;
    position: relative;
}

.right-4 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-5 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-6 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.sub {
    right: 60px;
    width: 285px;
    height: 40px;
    padding-top: 45px;
    position: relative;
}

input {
    width: 255px;
    height: 35px;
    outline: none;
    font-size: 20px;
    text-align: left;
    background: #fff;
    padding-left: 24px;
    border: 1px solid #B60038;
}

.all-picture {
    display: flex;
}

.picture1 {
    width: 250px;
    height: 250px;
}

.picture1 img {
    width: 235px;
    height: 250px;
}

.wenzi3 {
    left: 700px;
    float: left;
    width: 310px;
    height: 260px;
    bottom: 760px;
    position: relative;
}

.wenzi3 img {
    width: 300px;
    height: 260px;
}

.wenzi4 {
    width: 705px;
    right: 230px;
    padding-top: 80px;
    position: relative;
}

.wenzi4 p {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

.sign {
    right: 20px;
    width: 310px;
    height: 80px;
    padding-top: 55px;
    position: relative;
}

.sign button {
    width: 310px;
    height: 80px;
    color: #ffff;
    font-size: 29px;
    background: #B60038;
    border: 1px solid #AE1A47;
}

.third {
    width: 1750px;
    background: #F7F7F7;
}

.display2 {
    right: 206px;
    display: flex;
    padding-top: 30px;
    position: relative;
    padding-bottom: 12px;
}

.left12 h1 {
    color: #000;
    font-size: 42px;
    font-weight: 400;
}

.another {
    left: 25px;
    position: relative;
}

ul {
    display: flex;
    list-style-type: none;
}

.another li {
    font-size: 20px;
    color: #000000;
    padding-top: 20px;
    padding-left: 30px;
}

.picture-2 {
    right: 40px;
    width: 185px;
    height: 53px;
    float: right;
    bottom: 85px;
    position: relative;
}

.picture-2 img {
    width: 185px;
    height: 53px;
}

.just {
    width: 315px;
    height: 1000px;
}

.just img {
    bottom: 140px;
    position: relative;
}

.fourth {
    bottom: 998px;
    position: relative;
}

.all-picture1 {
    left: 105px;
    display: flex;
    position: relative;
    justify-content: start;
}

.picture-1 {
    width: 259px;
    height: 250px;
}

.picture-1 img {
    width: 247px;
    height: 250px;
}

.picture-3 {
    width: 230px;
    height: 250px;
}

.picture-3 img {
    width: 230px;
    height: 250px;
}

.picture-11 {
    width: 260px;
    height: 250px;
}

.picture-11 img {
    width: 260px;
    height: 250px;
}

.five {
    height: 100px;
    bottom: 950px;
    position: relative;
    background-image: url(./图片/BG_News.png);
}

.display22 {
    display: flex;
    justify-content: start;
}

.left13 h1 {
    color: #000;
    font-size: 33px;
    font-weight: 400;
    padding-top: 25px;
}

.another3 li {
    color: #000;
    font-size: 20px;
    letter-spacing: 0;
    padding-right: 25px;
}

.another3 {
    left: 85px;
    width: 545px;
    height: 30px;
    padding-top: 30px;
    position: relative;
}

.left-22 {
    padding-left: 65px;
}

.an-pic {
    left: 400px;
    position: relative;
}

.pic2 {
    left: 30px;
    position: relative;
}

.pic3 {
    left: 50px;
    position: relative;
}

.display33 {
    display: flex;
    justify-content: space-around;
}

.six {
    bottom: 915px;
    position: relative;
}

.seven {
    bottom: 810px;
    position: relative;
}

.neirong1 h1 {
    color: #000;
    font-size: 36px;
    font-weight: 400;
}

.display11 {
    display: flex;
    justify-content: start;
}

.anoth h1 {
    color: #000;
    font-size: 18px;
    padding-top: 3px;
    font-weight: 400;
    text-align: center;
}

.another-2 li {
    padding-top: 20px;
    padding-right: 70px;
}

.botton {
    width: 75px;
    padding-right: 0;
    text-align: center;
    border-bottom: 4px solid #006A85;
}

.another-2 {
    padding-left: 50px;
}

.anoth {
    width: 185px;
    height: 60px;
    border: 1px solid #8E8E93;
}

.date {
    top: 8px;
    left: 10px;
    position: relative;
}

.display44 {
    display: flex;
    padding-top: 45px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.itck {
    padding-left: 75px;
}

.nine {
    bottom: 750px;
    height: 330px;
    position: relative;
    background-color: #FC3159;
}

.top {
    right: 100px;
    bottom: 795px;
    width: 160px;
    height: 45px;
    float: right;
    position: relative;
    background-color: #FC3159;
}

.top h1 {
    width: 62px;
    right: 50px;
    bottom: 27px;
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    position: relative;
}

.top img {
    left: 30px;
    width: 13px;
    height: 10px;
    padding-top: 20px;
    position: relative;
}

.left22 {
    width: 100px;
    height: 95px;
    position: relative;
    border: 2px solid #fff;
    left: 60px;
}

.display55 {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
}

.left33 h1 {
    padding: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.wenzi7 li {
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-right: 71px;
}

.wenzi7 {
    padding-right: 50px;
}

.tupian {
    left: 60px;
    display: flex;
    position: relative;
}

.another55 {
    display: flex;
}

.pic-1 {
    padding-right: 25px;
}

.fangkuang {
    left: 40px;
    width: 150px;
    height: 50px;
    float: right;
    margin-top: 50px;
    position: relative;
    border: 2px solid #fff;
}

.fangkuang h1 {
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.right22 {
    padding-top: 60px;
}

.home {
    right: 60px;
    position: relative;
    border-bottom: 1px solid #fff;
}

.another img {
    position: relative;
    left: 30px;
    bottom: 15px;
}

.black {
    background-image: url(./图片/Bg_top_opacity60%.png);
}

.picture-11 {
    background-image: url(./图片/Rectangle65.png);
}

.another3 img {
    position: relative;
    left: 20px;
    bottom: 8px;
    width: 120px;
}

.second {
    opacity: 0.6;
    background: rgb(0 0 0 / 35%);
}