body {
    font-size: 14px;
    background-color: #eee;
}

.zhong {
    margin-left: auto;
    margin-right: auto;
    width: 1024px
}

.ding {
    margin-top: 33px;
    color: #bbb;
    font-size: 12px;
}

.yfight {
    display: flex;
    justify-content: flex-end;
    margin-top: -16px;
}

.kgb {
    color: rgb(248, 245, 245);
    background-color: #00b38a;
    border-radius: 5px 5px 0px 0px;
    margin-top: 5px;
    font-size: 11px;
    height: 252px;
}

.name {
    font-size: 52px;
    padding: 30px 50px;
    margin: 0 0 0 0;
}

.job {
    font-size: 24px;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    margin-top: -73px;
    padding-right: 54px;
}

.yu {
    border-top: 2px solid #00a982;
    margin-top: 30px;
    width: 90%;
    position: relative;
    left: 52px;
}

p {
    margin: 0 0 0 0;
    font-size: 17px;
}

.bokk {
    display: flex;
    justify-content: flex-end;
}

.boke {
    margin-top: -73px;
    font-size: 17px;
    font-weight: 100;
}

.two {
    background-color: #fff;
    height: 1550px;
}

.two1 {
    width: 50%;
    padding: 10px;
    overflow: hidden;
}

.two2 {
    padding-top: 30px;
}

.sub {
    border-radius: 32px;
    font-weight: 700;
    background-color: #eee;
    width: 93px;
    margin: 0 auto;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px;
    margin-top: -16px;
}

.su {
    border-radius: 32px;
    font-weight: 700;
    background-color: #eee;
    width: 93px;
    margin: 0 auto;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px;
}

.x-l {
    width: 35%;
    border-top: 1px solid #ededed;
}

.x-le {
    width: 35%;
    border-top: 1px solid #ededed;
    position: relative;
    top: 15px
}

.x-r {
    position: relative;
    left: 315px;
    border-top: 1px solid #ededed;
    width: 180px;
    bottom: 17px;
}

.zhifubao {
    text-decoration: none;
    color: #00b38a;
    margin-top: -47px;
}

.kg-name {
    font-size: 17px;
}

.kg {
    padding: 20px;
}

.item-jo {
    line-height: 24px;
}

.link {
    padding-left: 440px;
}

.k3-name {
    margin-top: -30px;
    font-weight: 300;
}

.k4-name {
    font-weight: 300;
}

.item-des {
    font-weight: 300;
}

.meituan {
    padding-left: 23px;
}

.kg-time {
    font-size: 13px;
}

.k2-time {
    font-size: 13px;
}

.k1-name {
    font-size: 17px;
}

.k-name {
    padding-top: 50px;
}

.p-job {
    margin-top: -35px;
}

.tenctqq {
    padding-left: 20px;
    padding-top: 50px
}

.p-di {
    font-size: 17px;
}

.right-1 {
    padding-left: 540px;
    margin-top: -665px;
}

.ite-des {
    margin-top: -30px;
    font-weight: 300;
}

.it-es {
    margin-top: -27px;
    font-weight: 300;
}

.m-name {
    padding-top: 55px;
    font-size: 17px;
}

.it {
    margin-top: -30px;
    font-weight: 300;
}

.it-e {
    font-size: 17px;
}

.teqq {
    padding-top: 55px;
}

.tqq {
    padding-top: 55px;
}

.neiron {
    line-height: 19px;
    padding-top: 20px;
}

.kill {
    padding-top: 130px;
}

.golang {
    margin-top: -570px;
    width: 970px;
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
}

.x-1 {
    border-radius: 32px;
    background-color: #eee;
    width: 39%;
    position: relative;
    left: 20px;
    height: 1px;
    top: 12px;
}

.ill {
    display: flex;
    justify-content: end;
}

.ill-w {
    border-radius: 32px;
    font-weight: 700;
    padding: 4px 10px;
    background-color: #eee;
    width: 15%;
    position: relative;
    left: 40px;
    display: flex;
    justify-content: center;
}

.x-2 {
    border-radius: 32px;
    background-color: #eee;
    width: 35%;
    position: relative;
    left: 60px;
    height: 1px;
    top: 12px;
}

.xia {
    padding-top: 30px;
    width: 50%;
    padding-left: 25px;
}

.Web {
    font-size: 17px;
}

.a-1 {
    padding-top: 51px;
}

.webpck {
    padding-top: 50px;
}

.nodejs {
    padding-top: 50px;
}

.xiamian {
    width: 470px;
    padding-left: 25px;
    line-height: 30px;
    width: 470px;
    padding-left: 25px;
    line-height: 30px;
}

.o-1 {
    font-size: 17px;
}

.chin-1 {
    font-size: 17px;
}

.tem {
    font-size: 17px;
}

.qq {
    padding-top: 50px;
}

.webpack {
    padding-top: 50px;
}

.lan-2 {
    font-size: 17px;
}

.qq-2 {
    font-size: 17px;
}

.pack-2 {
    font-size: 17px;
}

.na-2 {
    font-size: 17px;
}

.i-des {
    font-weight: 300;
}

.finally-1 {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 25px;
    text-decoration: none;
}

.finally {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}