* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.center {
    max-width: 85%;
    margin: 0 auto;
}

.all-top {
    width: 360px;
    background-color: #fff;
    border-bottom: 1px solid #fafafa;
}

.picture {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.picture img {
    width: 24px;
    height: 24px;
}

.picture h1 {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 300;
    position: relative;
    right: 104px;
}

.sub {
    position: relative;
    right: 30px;
}

.wenzi {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

.wenzi1 {
    width: 120px;
    border-bottom: 2px solid #025ED7;
}

.wenzi2 {
    width: 120px;
}

.wenzi3 {
    width: 120px;
}

.wenzi1 h1 {
    font-size: 16px;
    color: #025ED7;
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: 15px;
}

.wenzi2 h1 {
    font-family: Helvetica;
    font-size: 16px;
    color: #999999;
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: 15px;
}

.wenzi3 h1 {
    font-family: Helvetica;
    font-size: 16px;
    color: #999999;
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: 15px;
}