body {
    margin: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
}

.bottom1 {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 30px;
    background: #f3f4f5;
    text-transform: uppercase;
    width: 124px;
    margin-top: 25px;
}

.bottom1:hover {
    background: #17bed2;
}

.juzhong {
    margin-left: auto;
    margin-right: auto;
    height: 1024px;
    width: 1630px;
}

.logo {
    background-color: #fff;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}

.logo-1 {
    height: 93px;
}

.png {
    width: 200px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 13px;
    font-weight: 600;
    color: #515769;
    padding: 20px
}

.neiron {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
    padding-right: 300px;
}

.avatar {
    padding-top: 150px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.web {
    font-weight: 400;
    color: #a6a7aa;
    font-size: 25px;
    width: 467px;
    margin: 0 0 0 0;
}

.left {
    font-size: 50px;
    font-weight: 700;
    color: black;
    width: 43%;
    float: left;
    padding-top: 175px;
    display: flex;
    justify-content: flex-end;
}

.clear {
    clear: both;
}

.san1 {
    float: left;
    width: 38%;
    width: 452px;
    height: auto;
    margin: 0 0 0 0;
    padding-left: 245px;
    padding-top: 75px;
}

.san {
    height: 840px;
}

.san2 {
    height: 720px;
    float: right;
    width: 706px;
    padding-top: 70px;
}

h3 {
    font-weight: 700;
    color: #515769;
    margin: 0 0 0 0;
    font-size: 30px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin: 0 0 0 0;
    padding-top: 15px;
}

.bottom {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 30px;
    text-decoration: none;
    background: #f3f4f5;
    margin-top: 24px;
}

.san3 {
    border: 1px solid #edf0f2;
    margin-top: 70px;
}

.san4 {
    padding-top: 25px;
}

h4 {
    font-weight: 700;
    color: #515769;
    margin: 0 0 15px;
    font-size: 30px;
}

.sani {
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
}

.x {
    border: 1px solid #f5f5f5;
    margin: 0 0 25px;
}

.x1 {
    border: 1px solid #17bed2;
    width: 87%;
}

h5 {
    margin: 0 0 15px;
}

.x2 {
    border: 1px solid #17bed2;
    width: 96%;
}

.x3 {
    border: 1px solid #17bed2;
    width: 77%;
}

.si {
    background: #fafafa;
    height: 390px;
    width: 110%;
}

.in {
    display: flex;
    padding-top: 99px;
    justify-content: center;
    width: 1315px;
    margin-left: auto;
    margin-right: auto;
}

.white {
    color: #fff;
    font-size: 22px;
}

.col {
    color: #fff;
}

.sol {
    width: 255px;
    background: #fff;
    margin-right: 20px;
}

.nfo {
    width: 255px;
    background: #fff;
    margin-right: 20px;
}

.info {
    width: 255px;
    background: #17bed2;
    margin-right: 20px;
}

.ser {
    width: 255px;
    background: #fff;
}

.los {
    padding: 15px;
    padding-top: 88px;
    margin-left: 25px;
}

.kl {
    font-size: 22px;
}

.kla {
    font-size: 22px;
    color: #fff;
}

.col-sm-6 {
    width: 585px;
    height: 114px;
}

.clas {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.sol-1 {
    font-weight: 700;
    color: #515769;
    margin: 0 0 15px;
    font-size: 30px;
}

.col-1 {
    width: 500px;
    width: 500px;
    margin-bottom: 60px;
}

.col-6 {
    width: 1070px;
    height: 500px;
    padding-left: 120px;
    padding-top: 112px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #515769;
    text-decoration: none;
    font-size: 23px;
}

span {
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
}

.kpl-2 {
    width: 385px;
}

.kpl-3 {
    width: 770px;
    margin-top: -410px;
    display: flex;
    justify-content: flex-end;
}

.kpl-4 {
    width: 360px;
    padding-left: 410px;
}

.kpl-5 {
    display: flex;
    justify-content: flex-end;
    margin-top: -405px;
    width: 1190px;
}

.kpl-6 {
    padding-left: 830px;
    width: 360px;
}

.wu {
    height: 757px;
    width: 1440px;
}

.rng {
    background: #fafafa;
    height: 250px;
    width: 103%;
}

.ngr {
    padding-top: 99px;
    width: 1088px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
}

.lu1 {
    display: flex;
    justify-content: flex-end;
    width: 130px;
}

.lu2 {
    display: flex;
    justify-content: flex-end;
    margin-top: -49px;
    width: 350px;
}

.lu3 {
    display: flex;
    justify-content: flex-end;
    margin-top: -49px;
    width: 590px;
}

.lu4 {
    display: flex;
    justify-content: flex-end;
    margin-top: -49px;
    width: 850px;
}

.lu5 {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    width: 1070px;
}

.kgb1 {
    margin: 0 0 0 0;
    margin-top: -270px;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.mov {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
}

.kgb2 {
    font-size: 20px;
    color: #fff;
    opacity: .8;
    display: flex;
    justify-content: center;
}

.fbi {
    background: #fafafa;
    height: 419px;
    width: 101%;
    padding-top: 100px;
}

.kplo {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
}

.contct {
    width: 500px;
}

.p1 {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.xxs {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    padding-right: 55px;
}

h4 {
    font-weight: 700;
    color: #515769;
    margin: 0 0 15px;
    font-size: 23px;
}

a {
    color: #81848f;
    font-size: 10px;
}

.xxs2 {
    padding-left: 200px;
}

.xx3 {
    padding-left: 200px;
}

.xxs4 {
    padding-left: 200px;
}

.finally {
    height: 101px;
    background: #fff;
}

.finally-1 {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
}

.margin-b {
    display: flex;
    justify-content: flex-end;
    margin-top: -72px;
    padding-right: 183px;
}

.href {
    color: #515769;
    text-decoration: none;
    font-size: 23px;
}

.wen {
    background: #fafafa;
    width: 115%;
}

li {
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #515769;
    background: #fff;
    border-radius: 50%;
    padding: 11px;
}

li:hover {
    background: #515769;
}