.clear {
    clear: both;
}

.btn,
.ios-switch::before,
.ios-switch {
    border-radius: 31px;
    width: 102px;
    height: 62px;
    background-color: #e9e9eb;
}

.ios-switch {
    position: relative;
    appearance: none;
    cursor: pointer;
    transition: all 100ms;
}

.ios-switch::before {
    position: absolute;
    content: "";
    transition: all 300ms cubic-bezier(0.45, 1, 0.4, 1);
}

.ios-switch::after {
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    content: "";
    transition: all 300ms cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.ios-switch:checked {
    background-color: #5eb662;
}

.ios-switch:checked::before {
    transform: scale(0);
}

.ios-switch:checked::after {
    transform: translateX(40px);
}

.ios-switch:checked~header,
.ios-switch:checked~div {
    filter: invert(1) hue-rotate(180deg);
}

.ios-switch:checked~header img,
.ios-switch:checked~header video,
.ios-switch:checked~header .logo,
.ios-switch:checked~header .icon,
.ios-switch:checked~header .jubao-con,
.ios-switch:checked~div img,
.ios-switch:checked~div video,
.ios-switch:checked~div .logo,
.ios-switch:checked~div .icon,
.ios-switch:checked~div .jubao-con {
    filter: invert(1) hue-rotate(180deg);
}

.ios-switch~header,
.ios-switch~div {
    background-color: rgb(10, 7, 7);
    transition: all 300ms;
}

.ios-switch {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    outline: none;
}

.first {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.firs {
    background-color: var(--bg-color);
    padding: 0px;
    height: 90px;
    display: grid;
    align-items: center;
}

.first-1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 93px;
}

.first-2 {
    font-size: 34px;
    font-weight: 400;
    padding-top: 25px;
}

.first-3 {
    position: relative;
    bottom: 9px;
    color: #8E43E7;
    font-weight: 400;
}

.fa {
    font-size: inherit;
    text-decoration: none;
}

img {
    width: 40px;
    height: 40px;
}

.first12 {
    text-decoration: auto;
}

.first4 {
    display: flex;
    justify-content: flex-end;
}

.first1 {
    list-style: none;
    text-decoration: none;
    margin-top: -50px;
}

.nav-link {
    text-decoration: auto;
    color: #3F3A64;
}

.nav-lin {
    color: #8E43E7;
    text-decoration: auto;
}

.first5 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 19.2px;
}

.first6 {
    padding: 0 10px;
    font-size: 19.2px;
    font-weight: 400;
}

.first7 {
    padding: 0 10px;
    font-size: 19.2px;
    font-weight: 400;
}

:root {
    --nav-color: #292922;
    --bg-color: #fff;
}

.one {
    margin-top: 90px;
    background: #fafafa;
}

.one1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 100px;
    height: 666px;
}

.one2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.one3 {
    float: left;
    width: 50%;
}

.one4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.one5 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: #3F3A64;
}

.one9 {
    padding-top: 60px;
}

.one10 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: auto;
    background-color: #8e43e7;
    color: #fff;
    border-radius: 10px;
}

.one11 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: auto;
    background-color: #fff;
    color: #8e43e7;
    border-radius: 10px;
    transition: 0.3s;
    margin-left: 27px;
}

.one11:hover {
    color: #fff;
    background-color: #8e43e7;
}

span {
    color: #3F3A64;
    font-weight: 300;
    font-size: 34px;
    line-height: 1.2;
}

P {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.photo {
    width: 570px;
    height: 570px;
}

.two {
    padding-top: 50px;
    background: #fff;
}

.two2 {
    height: 490px;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.two3 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.two5 {
    width: 398px;
    float: left;
}

.photo1 {
    width: 370px;
    height: 422px;
    border-radius: 10px;
}

.two-1 {
    width: 800px;
    float: right;
}

.two-2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.two-3 {
    font-size: 37px;
    font-weight: 400;
    line-height: 48px;
    color: #3F3A64;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.two-5 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 100px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: auto;
    background-color: #8e43e7;
    color: #fff;
    border-radius: 10px;
}

.three {
    background: #fafafa;
    height: 465px;
    padding-top: 50px;
}

.three2 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 55px;
}

.three3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.three4 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #3F3A64;
}

.three6 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 175px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: auto;
    background-color: #8e43e7;
    color: #fff;
    border-radius: 10px;
}

.four1 {
    padding-top: 50px;
    background: #fff;
}

.four2 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 635px;
    width: 100%;
}

.four3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
    margin: 0;
    text-align: center;
}

.four4 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #3F3A64;
    margin-bottom: 30px;
    margin: 0;
}

.four-1 {
    display: flex;
    justify-content: center;
}

.four-2 {
    margin-left: auto;
    margin-right: -15px;
    margin-left: -15px;
    width: 372px;
    height: 350px;
    background: #fafafa;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #f8f9fa;
}

.four-2:hover {
    background: #fff;
}

.number {
    color: #3F3A64;
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    line-height: 60px;
    opacity: .07;
    transition: 0.3s;
    margin: 0;
    padding-right: 20px;
    margin-top: -53px;
}

.duan {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #3F3A64;
    text-decoration: none;
    padding-left: 29px;
    transition: 0.3s;
}

.duan:hover {
    color: #8E43E7;
}

.ps {
    color: #696969;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
}

.photo2 {
    padding-top: 39px;
    padding-left: 25px;
}

.read {
    font-size: 17px;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    color: #273c66;
    padding-left: 20px;
}

.read:hover {
    color: #8E43E7;
}

.box-wrap p {
    padding: 20px;
}

.four-12 {
    margin-left: auto;
    margin-right: -15px;
    margin-left: -15px;
    width: 372px;
    height: 350px;
    background: #fafafa;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #f8f9fa;
    margin-left: 74px;
}

.four-12:hover {
    background: #fff;
}

.number {
    color: #3F3A64;
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    line-height: 60px;
    opacity: .07;
    transition: 0.3s;
    margin: 0;
    padding-right: 20px;
    margin-top: -53px;
}

.duan {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #3F3A64;
    text-decoration: none;
    padding-left: 29px;
    transition: 0.3s;
}

.duan:hover {
    color: #8E43E7;
}

.ps {
    color: #696969;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
}

.photo2 {
    padding-top: 39px;
    padding-left: 25px;
}

.read {
    font-size: 17px;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    color: #273c66;
    padding-left: 20px;
}

.read:hover {
    color: #8E43E7;
}

.box-wrap p {
    padding: 20px;
}

.four-22 {
    margin-left: auto;
    margin-right: -15px;
    margin-left: -15px;
    width: 372px;
    height: 350px;
    background: #fafafa;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #f8f9fa;
    margin-left: 74px;
}

.four-22:hover {
    background: #fff;
}

.number {
    color: #3F3A64;
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    line-height: 60px;
    opacity: .07;
    transition: 0.3s;
    margin: 0;
    padding-right: 20px;
    margin-top: -53px;
}

.duan {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #3F3A64;
    text-decoration: none;
    padding-left: 29px;
    transition: 0.3s;
}

.duan:hover {
    color: #8E43E7;
}

.ps {
    color: #696969;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
}

.photo2 {
    padding-top: 39px;
    padding-left: 25px;
}

.read {
    font-size: 17px;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    color: #273c66;
    padding-left: 20px;
}

.read:hover {
    color: #8E43E7;
}

.box-wrap p {
    padding: 20px;
}

.four-25 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

a {
    color: #3F3A64;
    transition: 0.3s;
}

a:hover {
    color: #8E43E7;
}

.photo3 {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 13px;
}

.five {
    background: #fafafa;
    height: 218px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.five1 {
    max-width: 1125px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 262px;
}

.five2 {
    margin-right: -15px;
    margin-left: -15px;
}

.five3 {
    width: 300px;
    height: 166px;
    text-align: center;
}

.five4 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0;
    color: #3F3A64;
}

h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #696969;
    margin-top: 10px;
}

.six {
    background: #fff;
    height: 663px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    ;
}

.six2 {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.six3 {
    font-size: 40px;
    font-weight: 400;
    color: #3F3A64;
    line-height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.six-1 {
    max-width: 1050px;
    margin: auto;
    height: 315px;
}

.six-2 {
    width: 100%;
    z-index: 1;
}

.six-5 {
    display: flex;
}

.six-6 {
    width: 541px;
    height: 315px;
    margin-right: -15px;
    margin-left: -15px;
    background: #fafafa;
    border-radius: 10px;
    margin: 0;
    padding: 40px 30px;
}

blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5em;
}

q {
    color: #696969;
    font-size: 1.2rem;
}

h3 {
    margin: 0;
    color: #3F3A64;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.six-7 {
    display: flex;
}

.six-9 {
    margin-left: 20px;
    margin-top: 15px;
}

.six1-6 {
    width: 541px;
    height: 315px;
    background: #fafafa;
    border-radius: 10px;
    margin: 0;
    padding: 40px 30px;
    margin-left: 20px;
}

.seven {
    background: #fafafa;
    height: 845px;
}

.seven1 {
    padding-top: 50px;
    height: 795px;
}

.seven2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 784px;
}

.seven3 {
    max-width: 950px;
    margin: 0 auto;
}

.seven6 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.seven7 {
    text-align: center;
    margin-top: 1rem;
}

.seven-1 {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 3rem;
}

.eight {
    text-align: center;
    background: #fff;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.eight1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 3rem;
    counter-reset: #3F3A64;
}

.eight4 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    background: #8E43E7;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 20px;
}

.eight5 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid;
}

.eight5:hover {
    background: #8E43E7;
    color: #fff;
}

.nine {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid #696969;
}

.nine1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nine-3 {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: #8E43E7;
    text-decoration: none;
}

.face {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    right: 125px;
}

.face:hover {
    background: #8E43E7;
}

.book {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    right: 60px;
}

.book:hover {
    background: #8E43E7;
}

.ins {
    width: 20px;
    height: 20px;
    float: right;
}

.ins:hover {
    background: #8E43E7;
}

.twit {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    left: 70px
}

.twit:hover {
    background: #8E43E7;
}