.clear {
    clear: both;
}

.first {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.firs {
    height: 90px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    background: var(--bg-light);
    transition: all 0.5s;
}

.first-1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 93px;
}

.first-2 {
    font-size: 34px;
    font-weight: 400;
    padding-top: 25px;
}

.first-3 {
    color: #8E43E7;
    font-weight: 400;
    position: relative;
    bottom: 9px;
    font-size: 34px;
}

.fa {
    text-decoration: none;
    font-size: inherit;
}

img {
    width: 40px;
    height: 40px;
}

.first12 {
    text-decoration: auto;
}

.first4 {
    display: flex;
    justify-content: flex-end;
}

.first1 {
    list-style: none;
    text-decoration: none;
    margin-top: -45px;
}

.nav-link {
    text-decoration: auto;
    color: #3F3A64;
    border-bottom: 1px solid #8E43E7;
}

.nav-lin {
    text-decoration: auto;
    color: #8E43E7;
    border-bottom: 1px solid #8E43E7;
}

.first5 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 19px;
}

.first6 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

.first7 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

:root {
    --nav-color: #292922;
    --bg-color: #fff;
}

[data-theme="dark"] {
    --nav-color: #fff;
    --bg-light: #131617;
}

[data-theme="light"] {
    --bg-light: #FFFFFF;
}

.theme-switch {
    display: inline-block;
    cursor: pointer;
}

.theme-switch .mode-container {
    display: flex;
    padding-top: 5px;
    padding-left: 26px;
}

#checkbox {
    display: none;
}

#checkbox:checked+.mode-container .light {
    display: inline-block;
}

#checkbox+.mode-container .light {
    display: none;
}

#checkbox:checked+.mode-container .dark {
    display: none;
}

#checkbox+.mode-container .dark {
    display: inline-block;
}

body {
    background-color: var(--bg-light);
}

.theme-switch svg {
    fill: var(--nav-color)
}

.two {
    margin-top: 90px;
    background: rgba(147, 107, 232, 0.05);
}

.two1 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.two .ab {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #3f3a64;
    text-align: center;
}

.mt-2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center
}

.two2 {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.mx-2 {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    color: #696969;
}

ul {
    list-style-type: none;
}

.two2 a {
    text-decoration: none;
    font-size: 19.2px;
    color: #8e43e7;
}