* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

.body {
    margin: 0 auto;
}

.clear {
    clear: both;
}

.first {
    height: 946px;
    background-image: url(./图片/Rectangle7.png);
}

.jz {
    margin: 0 auto;
    max-width: 1185px;
}

.display {
    display: flex;
    justify-content: space-between;
}

.p40 {
    padding-top: 40px;
}

li {
    list-style-type: none;
}

.zi {
    display: flex;
}

.position-t {
    position: relative;
    top: 20px
}

.zi a {
    font-size: 18px;
    color: #0043C7;
    text-decoration: none;
    font-family: Helvetica;
}

.tran {
    left: 745px;
    opacity: 0.1;
    bottom: -206px;
    color: white;
    width: 390.23px;
    height: 1073.86px;
    position: absolute;
    transform: rotate( 30deg);
    background-image: radial-gradient(39% 70%, #1E77E1 0%, #B4D2F5 60%, #BFD8F6 64%, #FFFFFF 90%);
}

.tran2 {
    left: 908px;
    opacity: 0.3;
    color: white;
    bottom: -265px;
    width: 269.23px;
    height: 1156.86px;
    position: absolute;
    transform: rotate( 30deg);
    background-image: radial-gradient(39% 70%, #1E77E1 0%, #B4D2F5 60%, #BFD8F6 64%, #FFFFFF 90%);
}

.display-1 {
    display: flex;
}

.start {
    width: 665px;
    font-size: 50px;
    color: #202020;
    font-weight: 400;
    padding-bottom: 30px;
}

.picture-1 {
    float: right;
    right: 115px;
    bottom: 105px;
    width: 1000px;
    position: relative;
}

.picture-2 {
    float: right;
    position: relative;
    left: 245px;
    bottom: 1080px;
}

.zi li {
    padding-right: 43px;
}

.another-1 {
    padding-top: 6rem;
}

.nei p {
    width: 476px;
    font-size: 22px;
    color: #2A2A2A;
    letter-spacing: 0;
    font-weight: 300;
    padding-bottom: 65px;
}

.nei a {
    color: #fff;
    font-size: 20px;
    padding: 20px 69px;
    border-radius: 100px;
    background: #F60000;
    text-decoration: none;
    box-shadow: -2px 4px 10px 0px #f60000;
}

.picture-3 {
    position: relative;
    right: 195px;
    top: 140px;
}

.s1 {
    right: 120px;
    width: 1455px;
    height: 350px;
    position: relative;
    transform: rotate( 355deg);
    background-color: #59CCE5;
}

.blue {
    right: 225px;
    bottom: 305px;
    width: 1614px;
    height: 740px;
    position: relative;
    transform: rotate( 11deg);
    background-color: #034ffa;
}

.works {
    right: 10px;
    bottom: 890px;
    position: relative;
    text-align: center;
}

.sanjiao {
    left: 60px;
    width: 130px;
    height: 252px;
    float: right;
    bottom: 930px;
    position: relative;
}

.second {
    height: 1030px;
}

.third {
    position: relative;
    bottom: 350px;
}

.wenzi h2 {
    font-size: 48px;
    font-weight: 500;
    color: #1E77E1;
    text-align: center;
    font-family: Helvetica;
}

.felx {
    left: 80px;
    padding-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.card {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 67px;
    box-shadow: 0 2px 20px 0 rgb(30 119 225 / 15%);
}

.card1 {
    width: 500px;
    margin-left: 50px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 67px;
    box-shadow: 0 2px 20px 0 rgb(30 119 225 / 15%);
}

.card2 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 67px;
    box-shadow: 0 2px 20px 0 rgb(30 119 225 / 15%);
}

.card3 {
    width: 500px;
    margin-left: 65px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 67px;
    box-shadow: 0 2px 20px 0 rgb(30 119 225 / 15%);
}

.ron img {
    right: 70px;
    position: relative;
}

.ron p {
    left: 70px;
    float: left;
    width: 390px;
    height: 84px;
    bottom: 105px;
    font-size: 18px;
    color: #959595;
    font-weight: 400;
    overflow: hidden;
    line-height: 28px;
    position: relative;
}

.boye {
    left: 65px;
    bottom: 75px;
    float: left;
    position: relative;
}

.boye h3 {
    font-size: 22px;
    color: #009EF6;
    font-weight: 400;
}

.boye p {
    font-size: 14px;
    color: #AEAEAE;
    font-weight: 400;
}

.four {
    bottom: 292px;
    height: 690px;
    position: relative;
    background-image: url(./图片/长方形.png);
}

.tupian {
    top: 200px;
    left: 115px;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.gi {
    padding-top: 100px;
    text-align: center;
}

.gi h3 {
    font-size: 33px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding-right: 350px;
}

.emai {
    padding-top: 40px;
}

.nam {
    padding-top: 40px;
    padding-right: 325px;
}

.sub {
    padding-top: 40px;
}

.name {
    width: 460px;
    color: #fff;
    height: 75px;
    padding-left: 20px;
    text-align: center;
    border-radius: 37.5px;
    border: 1px solid #009EF6;
    background: rgba(255, 255, 255, 0.26);
}

.email {
    height: 75px;
    width: 460px;
    color: #fff;
    padding-left: 20px;
    text-align: center;
    border-radius: 37.5px;
    border: 1px solid #009EF6;
    background: rgba(255, 255, 255, 0.26);
}

.mit {
    height: 70px;
    width: 280px;
    font-size: 21px;
    color: #009EF6;
    text-align: center;
    border-radius: 50px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0 2px 40px 0 rgb(255 255 255 / 73%);
}

.zheng {
    float: left;
    right: 215px;
    bottom: 45px;
    position: relative;
}

.eng {
    float: right;
    position: relative;
    left: 215px;
    top: 140px;
}

.betwteen {
    display: flex;
    justify-content: space-between;
}

.op h1 {
    font-size: 18px;
    color: #1E77E1;
}

.op li {
    font-size: 16px;
    color: #1E77E1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.u-l p {
    width: 210.92px;
    font-size: 16px;
    color: #A9A9A9;
    letter-spacing: 0;
}

.u-l1 {
    position: relative;
    left: 90px;
}

.u-l {
    position: relative;
    right: 40px;
    width: 300px;
    height: 110px;
}

.u-l22 {
    position: relative;
    left: 35px;
}

.u-l11 {
    position: relative;
    left: 50px;
}

.u-l2 {
    position: relative;
    left: 70px;
}

.five {
    height: 460px;
}

.zhaopian {
    height: 230px;
}

.jz3 {
    height: 240px;
    margin: 0 auto;
    max-width: 1460px;
}

.tupian1 {
    text-align: right;
    position: relative;
    top: 370px;
    left: 130px;
}

input::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
}

.sub input::-webkit-input-placeholder {
    font-size: 30px;
    color: #009EF6;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
}

.fanzhuan {
    position: relative;
    bottom: 1000px;
    left: 270px;
}

.fanzhuan1 {
    position: relative;
    bottom: 1660px;
    left: 315px;
}