body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #3E3E58;
}

.p-5 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.juzhong {
    margin: 0 auto;
    max-width: 1200px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.img2 {
    position: relative;
    right: 23px;
    bottom: 5px;
}

.t-p h {
    position: relative;
    bottom: 5px;
    color: #fff;
    font-size: 20px;
}

.ron {
    display: flex;
}

ul {
    list-style-type: none;
}

.x {
    padding-left: 30px;
    border-bottom: 4px solid #3DBDB6;
}

li {
    color: #D8D8D8;
    padding-right: 30px;
}

.kun {
    position: relative;
    bottom: 14px;
    padding: 14px;
    font-size: 7px;
    border-radius: 10px;
    border: 1px solid #979797;
}

h1 {
    color: #D8D8D8;
}