* {
    margin: 0;
}

.clear {
    clear: both;
}

.body {
    margin: 0 auto;
}

.first {
    height: 125px;
    background-color: #B60038;
}

.center {
    margin: 0 auto;
    max-width: 1600px;
}

.center1 {
    margin: 0 auto;
    max-width: 1665px;
}

.display {
    display: flex;
    justify-content: space-between;
}

.left {
    padding-top: 15px;
    padding-left: 77px;
    padding-bottom: 10px;
}

.left1 {
    width: 100px;
    height: 95px;
    border: 2px solid #fff;
}

.left1 h1 {
    padding: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.right {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 35px;
}

.right2 {
    width: 140px;
    height: 125px;
    background-image: url(./图片/Menu_select.png);
}

.right2 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-2 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right1 {
    left: 25px;
    position: relative;
}

.right-2 {
    left: 50px;
    width: 55px;
    height: 125px;
    position: relative;
}

.right-3 {
    left: 110px;
    width: 140px;
    height: 125px;
    position: relative;
}

.right-4 {
    left: 140px;
    width: 80px;
    height: 125px;
    position: relative;
}

.right-5 {
    left: 175px;
    width: 120px;
    height: 125px;
    position: relative;
}

.right-6 {
    left: 180px;
    width: 120px;
    height: 125px;
    position: relative;
}

.right-3 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
    position: relative;
    right: 20px;
}

.num {
    width: 25px;
    float: right;
    bottom: 24px;
    position: relative;
}

.num h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    right: 5px;
    position: relative;
}

.right-4 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-5 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.right-6 h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.sub {
    left: 5px;
    height: 40px;
    width: 285px;
    padding-top: 45px;
    position: relative;
}

input {
    width: 255px;
    height: 35px;
    outline: none;
    font-size: 20px;
    text-align: left;
    background: #fff;
    padding-left: 24px;
    border: 1px solid #B60038;
}

.all-pic {
    height: 250px;
    display: flex;
    justify-content: start;
}

.all-pic1 {
    height: 250px;
    display: flex;
    justify-content: start;
}

.picture-11 {
    width: 250px;
    height: 250px;
}

.picture-11 img {
    width: 250px;
    height: 250px;
}