* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #F6F8FA;
}

.center {
    margin: 0 auto;
    max-width: 90%;
}

.display {
    display: flex;
    justify-content: start;
}

.pt4 {
    padding-top: 40px;
}

.right {
    padding-left: 15px;
    padding-top: 1px;
}

.right h1 {
    font-family: Helvetica;
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 400;
}