body {
    margin: 0;
    overflow-x: hidden;
}

.body {
    margin: 0 auto;
}

.ron a {
    text-decoration: none;
    color: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #3E3E58;
}

.p-5 {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 101px;
}

.juzhong {
    margin: 0 auto;
    max-width: 1200px;
}

.pic1 {
    padding-right: 37px;
    padding-left: 25px;
}

.pic2 {
    padding-right: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.t-a {
    padding-left: 30px;
}

.img2 {
    position: relative;
    right: 23px;
    bottom: 5px;
}

.t-a h {
    position: relative;
    bottom: 8px;
    right: 15px;
    color: #fff;
    font-size: 16px;
}

.fle {
    display: flex;
    justify-content: center;
}

.ther {
    padding-right: 65px;
}

.ron {
    display: flex;
}

ul {
    list-style-type: none;
}

.x {
    color: #fff;
    opacity: 2;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 4px solid #3DBDB6;
}

li {
    color: #D8D8D8;
    padding-right: 30px;
    opacity: 0.3;
}

.sign {
    opacity: 0.3;
    color: #D8D8D8;
    padding-right: 30px;
}

.kun {
    width: 90px;
    height: 38px;
    opacity: 0.5;
    font-size: 7px;
    color: #D8D8D8;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #979797;
    background-color: #3d988a14;
}

.kun h1 {
    padding-top: 8px;
}

h1 {
    color: #D8D8D8;
}

.width {
    width: 343px;
}

.with {
    width: 445px;
}

.pic-t {
    max-width: 54%;
}

.p-10 {
    padding-top: 100px;
}

.build {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    padding-bottom: 40px;
}

.p-25 {
    padding-left: 25px;
}

.flex1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex1 input {
    height: 53px;
    width: 310px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #3E3E58;
    border-top-left-radius: 5px;
    background-color: #ffffff26;
    border-bottom-left-radius: 5px;
}

.flex1 input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.flex1 input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.flex1 input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.flex1 input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.btn {
    top: 1px;
    right: 1px;
    height: 53px;
    width: 115px;
    color: #fff;
    font-size: 17px;
    position: relative;
    text-align: center;
    border: 1px solid #3DBDB6;
    background-color: #3DBDB6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.san {
    padding-left: 100px;
    padding-right: 45px;
    padding-bottom: 33px;
    background-color: #ffffff;
    border-bottom: 1px solid #E1E1E1E1;
}

.juzhon {
    margin: 0 auto;
    max-width: 1200px;
}

.p-4 {
    padding-top: 40px;
}

.four {
    background-color: #fff;
}

.let {
    max-width: 55%;
    font-size: 31px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.sup h4 {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.sup a {
    font-size: 14px;
    color: #2D8CFF;
    letter-spacing: 0;
    font-family: Helvetica;
}

.sup p {
    font-size: 15px;
    color: #72808E;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    font-family: Helvetica;
}

.center {
    display: flex;
    justify-content: center;
}

.nou {
    position: relative;
    left: 25px;
}

.noun {
    position: relative;
    right: 50px;
    bottom: 30px;
}

.noun1 {
    position: relative;
    right: 50px;
    bottom: 30px;
}

.noun2 {
    position: relative;
    right: 50px;
    bottom: 30px;
}

.fe {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.p-t {
    padding-top: 30px;
}

.m-w {
    max-width: 16%;
    position: relative;
    right: 90px;
    text-align: center;
}

.m-d {
    max-width: 16%;
    position: relative;
    text-align: center;
}

.m-s {
    max-width: 16%;
    text-align: center;
    position: relative;
    left: 95px;
}

.five {
    background-image: linear-gradient(131deg, #3DBDB6 0%, #0089CE 100%);
}

.p-b1 {
    padding-bottom: 100px;
}

.desk {
    padding-top: 55px;
    padding-left: 73px;
    padding-right: 73px;
    padding-bottom: 55px;
}

.dessk {
    padding-top: 55px;
    padding-left: 169px;
    padding-bottom: 55px;
    padding-right: 65px;
}

.p-1 {
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}

.wht {
    width: 227px;
    font-size: 40px;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-family: Helvetica;
}

.bet {
    display: flex;
    justify-content: center;
}

.tnerr {
    text-align: center;
}

.desk p {
    color: #fff;
    font-size: 17px;
}

.p-30 {
    padding-left: 30px;
}

.felx {
    display: flex;
    justify-content: space-around;
}

.max {
    max-width: 45%;
    padding-top: 40px;
    position: relative;
    left: 15px;
}

.sup {
    padding-top: 10px;
}

.sup a {
    text-decoration: none;
}

.nei {
    width: 502px;
    height: 165px;
    border-radius: 5px;
    background-color: #1890A4;
}

.for {
    color: #fff;
    padding: 20px;
    font-weight: 300;
    padding-left: 30px;
}

.nei p {
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    padding-left: 30px;
}

.nei p1 {
    color: #fff;
    padding: 18px;
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
}

.e-l p {
    padding: 30px;
    font-size: 20px;
    color: #4e4444;
}

.other {
    right: -20px;
    width: 520px;
    height: 461px;
    position: relative;
    background-color: #fff;
}

.o-p {
    width: 520px;
    height: 70px;
    display: flex;
    background-color: #F5F9FC;
    justify-content: space-between;
}

.to-p {
    display: flex;
    padding: 19px;
}

#y-u {
    width: 51px;
    height: 32px;
    color: #fff;
    margin-left: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: #20BBEF;
}

#y {
    top: 15px;
    width: 90px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
    background-color: #20BBEF;
}

.sx {
    position: relative;
    top: 4px;
}

.six {
    position: relative;
    top: 6px;
}

.to-p h4 {
    font-weight: 500;
    padding-top: 5px;
}

.pic-1 {
    padding: 45px 0 17px 35px;
}

.six1 {
    background-color: #fff;
}

.zi {
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.p-o {
    padding-top: 10px;
    padding-bottom: 50px;
}

.more {
    width: 265px;
    font-size: 31px;
    font-weight: 400;
    text-align: center;
}

.picture {
    display: flex;
    justify-content: space-between;
}

.max-w {
    padding-right: 33px;
}

.max-w p {
    width: 260px;
    font-size: 19px;
    padding-top: 20px;
    text-align: center;
    padding-left: 45px;
    padding-bottom: 25px;
}

.max-w a {
    text-decoration: none;
}

.max-w a {
    font-size: 14px;
    color: #2D8CFF;
    padding-left: 135px;
}

.icon {
    position: relative;
    left: 2px;
    top: 1px;
}

.seven {
    background-image: linear-gradient( 138deg, #1172D0 0%, #1D98D6 100%);
}

.p-tb {
    padding-top: 56px;
    padding-left: 197px;
    padding-right: 115px;
    padding-bottom: 37px;
}

.f-p h4 {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 20px;
}

.f-p {
    display: flex;
    justify-content: space-between;
}

.is {
    width: 615px;
}

.is p {
    width: 100px;
    color: #fff;
    border-bottom: 1px solid#fafafa;
}

.j-k {
    position: relative;
    height: 670px;
    right: 120px;
}

.E-F {
    text-align: center;
    position: relative;
    left: 290px;
    width: 820px;
    bottom: 342px;
}

.p-e {
    padding-right: 25px;
}

.E-F h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}

.E-F p {
    color: #fff;
    padding: 30px;
}

.nine {
    background-color: #fff;
}

.eight {
    height: 725px;
}

.p-tbl {
    padding-left: 70px;
}

.d-s {
    display: flex;
    justify-content: space-around;
}

.pi-1 {
    display: flex;
}

.p-l {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ten {
    background-color: #3DBDB6;
}

.o-l h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.an {
    text-align: center;
    padding-right: 47px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tex {
    width: 300px;
    height: 52px;
    font-size: 16px;
    color: #fff;
    padding-left: 14px;
    background: #3DBDB6;
    font-family: Helvetica;
    border: 1px solid #E1E1E1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.an input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.an input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.an input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.an input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.bn {
    width: 120px;
    height: 55px;
    right: 6px;
    font-size: 16px;
    color: #3DBDB6;
    position: relative;
    background-color: #fff;
    font-family: Helvetica;
    border: 1px solid #E1E1E1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.eleven {
    background: #1F2532;
}

.t-p {
    padding-top: 75px;
    padding-bottom: 75px;
}

.diyi {
    padding-left: 180px;
}

.icon-1 {
    position: relative;
    display: flex;
    right: 125px;
    height: 20px;
}

.betwteen {
    display: flex;
    justify-content: space-between;
}

.op li {
    opacity: 0.8;
    padding: 10px;
    font-size: 12px;
}

.icon2 {
    padding-left: 5px;
}

.diyi h {
    color: #fff;
    position: relative;
    right: 8px;
    bottom: 6px;
}

.t-z img {
    padding-top: 10px;
}

.t-z {
    padding-top: 10px;
    padding-left: 15px;
}

.t-n {
    padding-top: 10px;
    padding-left: 15px;
}

.t-n h4 {
    color: #000;
    width: 142px;
    font-weight: 400;
    padding-bottom: 10px;
}

.t-z h4 {
    width: 142px;
    color: #D8D8D8;
}

.diyi p {
    width: 190px;
    opacity: 0.6;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    line-height: 19px;
    font-family: Helvetica;
}

.u-l {
    position: relative;
    right: 125px;
}

.u-ll {
    position: relative;
    right: 170px;
}

.u-l li {
    opacity: 0.6;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Helvetica;
}

.op h1 {
    padding: 10px;
    color: #ffff;
    font-size: 13px;
    font-weight: 200;
    text-align: left;
    line-height: 14px;
    font-family: Helvetica;
}

.diyi a {
    color: #FFFFFF;
}

.u-l2 {
    position: relative;
    right: 65px;
}

.p-40 {
    padding-left: 40px;
}