* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.nav {
    height: 150px;
    background: #fff;
    border: 2px solid #F6F8FA;
}

.center {
    margin: 0 auto;
}

.picture {
    display: flex;
    padding-left: 25px;
}

.picture h1 {
    font-size: 16px;
    color: #1B1B1B;
}

.all-top {
    height: 105px;
    padding-top: 32px;
}

.sub {
    padding-top: 22px;
    padding-left: 15px
}

.email {
    width: 283px;
    height: 40px;
    padding-left: 36px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.all-ant {
    right: 22px;
    height: 660px;
    position: relative;
    top: 16px;
    background-color: #F6F8FA;
}

.picture-1 h1 {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    position: relative;
    right: 15px;
    top: 10px;
}

.usa {
    width: 30px;
    height: 20px;
    position: relative;
    right: 40px;
    top: 10px;
}

.picture-1 {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.copy {
    position: relative;
    left: 40px;
}

.usd h1 {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    position: relative;
    right: 18px;
    top: 10px;
}

.xian {
    left: 25px;
    width: 302px;
    height: 12px;
    position: relative;
    border-bottom: 1px dashed;
}

.picture-2 {
    display: flex;
    padding-top: 17px;
    justify-content: space-between;
}

.picture-2 h1 {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    position: relative;
    right: 100px;
    top: 10px;
}

.usa1 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 84px;
    top: 10px;
}

.usd1 {
    position: relative;
    right: 21px;
    top: 14px;
}

.picture-3 {
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
}

.picture-3 h1 {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    position: relative;
    right: 46px;
    top: 9px;
}

.usd h1 {
    font-size: 14px;
    color: #999;
    font-weight: 300;
}

.usa2 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 50px;
    top: 10px;
}

.usd2 h1 {
    position: relative;
    right: 22px;
    top: 10px;
    font-size: 14px;
    color: #999;
    font-weight: 300;
}

.usa3 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 55px;
    top: 10px;
}

.usa4 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 50px;
    top: 10px;
}

.usa5 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 57px;
    top: 10px;
}

.usa6 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 50px;
    top: 10px;
}

.usa7 {
    width: 30px;
    height: 20px;
    position: relative;
    right: 52px;
    top: 10px;
}