/* 设置整个页面背景颜色 */
body {
    background-color: #eee;
}
.juzhong {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    margin: 0 auto;
}

.wyf {
    margin-top: 30px;
    /* border: 1px solid rgb(53, 36, 39); */
    font-size: 12px;
    color: #bbb;
}

.name {
    float: left;
    font-size: 20px;
}

.last {
    float: right;
}

.div {
    clear: both;
}

.rangkai {
    color: rgb(248, 245, 245);
    background-color: #00b38a;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    font-size: 8px;
}.juzhong .job-h div {
    font-weight: 100;
}

.juzhong .job-h {
    font-size: 19px;
    float: right;
    position: relative;
}


.boke{
    float: right;
}
.clear{

    clear: both;
}
.myjob-h{
    width: 100%;
    min-height: 200px;
    padding: 20px 30px 50px;
    overflow: hidden;
}
.jobleft{
    width: 94%;
    min-height: 200px;
    padding: 20px 30px 50px;
    overflow: hidden;
    margin-top: 47px;
    font-size: 8px;
}
.job-h{
    padding-left: 56px;
}
.job-l{
    position: relative;
    z-index: 1;
    min-width: 85px;
    margin: 0 auto;
    text-align: center;
    margin-left: 119px;
    background: #cc9f9f;
    border-radius: 67px;
    padding: 2px;
    width: 82px;
    height: 22px;
}
.jobjingli{
    font-size: 16px;
}
.job-left{
    font-size: 12px;
    background-color: white;
    margin-left: 81px;
    margin-right: 80px;

}
.item-name{
    font-size: 17px;
}
.meituan{
    margin-top: 39px;
}
.qqweizhi{
    font-size: 20px;
}
.qq{
    margin-top: 40px;
}
.name-p{
    margin-left: 54px;
}
.qqweizhi{
    margin-left: 54px;
}
.qqtime{
    margin-left: 54px;
}