* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.body {
    height: 760px;
    background-color: #F6F8FA;
}

.center {
    margin: 0 auto;
    max-width: 85%;
}

.nac {
    float: left;
    width: 370px;
    height: 268px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    background-image: linear-gradient( 180deg, #005EBC 0%, #003087 100%);
}

.all {
    padding-top: 48px;
}

.right h1 {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 3px;
}

.right p {
    color: #fff;
    font-size: 11px;
    line-height: 18px;
}

.black {
    top: 20px;
    width: 325px;
    height: 190px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(232deg, #3E3E3E 0%, #0B0B0B 100%);
}

.top-1 {
    left: 37px;
    top: 20px;
    width: 95px;
    float: left;
    position: relative;
}

.number {
    top: 71px;
    right: 67px;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.number1 h1 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-weight: 300;
}

.another-number {
    top: 121px;
    float: left;
    right: 65px;
    width: 105px;
    text-align: left;
    position: relative;
}

.another-number h1 {
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}

.date {
    top: 113px;
    width: 73px;
    right: 107px;
    float: right;
    position: relative;
}

.date h1 {
    color: #fff;
    opacity: 0.6;
    font-size: 10px;
    text-align: left;
}

.date p {
    color: #fff;
    font-size: 12px;
    text-align: left;
}

.picture-2-1 {
    top: 88px;
    left: 52px;
    width: 93px;
    float: right;
    position: relative;
}

.ph {
    top: 4px;
    left: 21px;
    position: relative;
}

.h {
    top: 4px;
    right: 14px;
    position: relative;
}

.picture-2-1 h1 {
    bottom: 6px;
    left: 19px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.top-2 h1 {
    font-size: 16px;
    color: #001D50;
}

.mis {
    padding-top: 45px;
}

.visa {
    top: 12px;
    width: 347px;
    position: relative;
}

.visa-1 {
    top: -10px;
    left: 2px;
    width: 325px;
    height: 70px;
    display: flex;
    background: #fff;
    position: relative;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.wenzi-3-1 h1 {
    font-size: 16px;
    color: #1B1B1B;
}

.wenzi-3-1 p {
    color: #999;
    font-size: 14px;
}

.visa-img {
    top: 10px;
    right: 20px;
    position: relative;
}

.pic-1 {
    top: 25px;
    left: 20px;
    height: 25px;
    position: relative;
}

.wenzi-3-1 {
    top: 18px;
    right: 46px;
    height: 25px;
    position: relative;
}

.another-pic {
    height: 23px;
    position: relative;
    right: 20px;
    top: 25px;
}

.visa-1-1 {
    top: 10px;
    left: 2px;
    width: 325px;
    height: 70px;
    display: flex;
    background: #fff;
    position: relative;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.wenzi-3-1 h1 {
    font-size: 16px;
    color: #1B1B1B;
}

.wenzi-3-1 p {
    color: #999;
    font-size: 14px;
}

.visa-img {
    top: 10px;
    right: 20px;
    position: relative;
}

.pic-1 {
    top: 25px;
    left: 20px;
    height: 25px;
    position: relative;
}

.wenzi-3-1 {
    top: 18px;
    right: 46px;
    height: 25px;
    position: relative;
}

.another-pic {
    height: 23px;
    position: relative;
    right: 20px;
    top: 25px;
}