* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #F6F8FA;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
    max-width: 93%;
}

.all {
    padding-top: 20px;
}

.display {
    display: flex;
    justify-content: space-between;
}

.right {
    height: 20px;
    padding-top: 10px;
}

.blue {
    height: 188px;
    background-image: url(./图片/Rectangle.png);
}

.blue-1 {
    top: 18px;
    height: 190px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    background-image: linear-gradient( 232deg, #0262E9 0%, #0054AE 100%);
}

.display-1 {
    display: flex;
    justify-content: space-between;
}

.headr {
    top: 15px;
    left: 30px;
    position: relative;
}

.headr p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.headr p1 {
    font-size: 28px;
    color: #FFFFFF;
    text-align: left;
}

.header-1 h1 {
    top: 5px;
    left: -15px;
    font-size: 10px;
    color: #3A2424;
    text-align: left;
    font-weight: 400;
    position: relative;
}

.header-1 img {
    top: 30px;
    left: -26px;
    position: relative;
}

.display-1-1 {
    display: flex;
    justify-content: space-between;
}

.cer {
    top: 20px;
    left: 28px;
    float: left;
    height: 22px;
    width: 105px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #fff;
}

.cer h1 {
    color: #fff;
    padding-top: 2px;
    font-size: 12px;
    text-align: center;
}

.wenzi1 {
    padding-right: 35px;
}

.wenzi1 h1 {
    opacity: 0.6;
    font-size: 10px;
    color: #FFFFFF;
}

.wenzi1 p {
    font-size: 14px;
    color: #FFFFFF;
}

.bao {
    left: 95px;
    bottom: 17px;
    position: relative
}

.wenzi2 h1 {
    font-size: 14px;
    color: #003087;
    padding-top: 50px;
}

.display-2-1 {
    display: flex;
    justify-content: space-between;
}

.ptb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.picture-1 {
    width: 75px;
}

.picture-1 h1 {
    font-size: 10px;
    color: #666666;
}

.wenzi4 {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.wenzi4 h1 {
    font-size: 14px;
    color: #003087;
    font-weight: 400;
}

.kuang {
    height: 235px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #fff;
}

.first {
    padding-top: 20px;
    padding-left: 27px;
}

.first-1 {
    display: flex;
    justify-content: space-between;
}

.first h1 {
    font-size: 12px;
    color: #1B1B1B;
}

.first h2 {
    color: #999;
    font-size: 10px;
}

.number {
    padding-top: 25px;
    padding-right: 10px;
}

.number h1 {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 400;
}

.number1 {
    padding-top: 25px;
    padding-right: 10px;
}

.number1 h1 {
    font-size: 16px;
    color: #00C55B;
    font-weight: 400;
}

.xian {
    left: 29px;
    width: 280px;
    height: 17px;
    position: relative;
    border-bottom: 1px dashed;
}

.final {
    padding-top: 15px;
}

.path img {
    width: 360px;
    height: 78px;
}

.val {
    height: 100px;
    float: left;
    position: relative;
    bottom: 105px;
    left: 125px;
}

.val img {
    width: 103px;
    height: 100px;
}

.down {
    position: relative;
    bottom: 78px;
    float: left;
    left: 61px;
}

.picture-1-1 h1 {
    font-size: 12px;
    color: #999;
}

.wenzi3 h1 {
    font-size: 12px;
    color: #999;
}

.picture-1-2 h1 {
    font-size: 12px;
    color: #999;
}

.neirong3 {
    position: relative;
    bottom: 55px;
}

.first-1-1 {
    position: relative;
    right: 88px;
    display: flex;
    justify-content: space-between;
}

.wenzi3 {
    position: relative;
    top: 30px;
    left: 23px;
}

.picture-1-2 {
    position: relative;
    left: 35px;
}

html {
    height: 760px;
}