.clear {
    clear: both;
}

.first {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.firs {
    height: 90px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    background: var(--bg-color);
    transition: all 0.5s;
}

.first-1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 93px;
}

.first-2 {
    font-size: 34px;
    font-weight: 400;
    padding-top: 25px;
}

.first-3 {
    color: #8E43E7;
    font-weight: 400;
    position: relative;
    bottom: 9px;
    font-size: 34px;
}

.fa {
    text-decoration: none;
    font-size: inherit;
}

img {
    width: 40px;
    height: 40px;
}

.first12 {
    text-decoration: auto;
}

.first4 {
    display: flex;
    justify-content: flex-end;
}

.first1 {
    list-style: none;
    text-decoration: none;
    margin-top: -45px;
}

.nav-link {
    text-decoration: auto;
    color: var(--nav-color);
    border-bottom: 1px solid #8E43E7;
}

.nav-lin {
    text-decoration: auto;
    color: #8E43E7;
    border-bottom: 1px solid #8E43E7;
}

.first5 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 19px;
}

.first6 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

.first7 {
    padding: 0 10px;
    font-size: 19px;
    font-weight: 400;
}

 :root {
    --primary-color: #8e43e7;
    --secondary-color: #273c66;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #ddd;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

[data-theme="dark"] {
    --primary-color: #8e43e7;
    --secondary-color: #273c66;
    --font-color: #afafaf;
    --bg-color: #0b0d0e;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #131617;
    --dropdown-color: #191c1d;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

.theme-switch {
    display: inline-block;
    cursor: pointer;
}

.theme-switch .mode-container {
    display: flex;
    padding-top: 5px;
    padding-left: 26px;
}

#checkbox {
    display: none;
}

#checkbox:checked+.mode-container .light {
    display: inline-block;
}

#checkbox+.mode-container .light {
    display: none;
}

#checkbox:checked+.mode-container .dark {
    display: none;
}

#checkbox+.mode-container .dark {
    display: inline-block;
}

body {
    background-color: var(--bg-light);
}

.theme-switch svg {
    fill: var(--nav-color)
}

.one {
    margin-top: 90px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: var(--bg-light);
}

.one1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.one2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.he {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.one3 h1 span {
    font-weight: 300;
    font-size: 48px;
    line-height: 1.2;
}

.mb-2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: var(--widget-bg);
}